/*General Styles*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-dark1);
    color: var(--color-text-light);
    min-width: 600px;
}

a {
    color: unset;
    background-color: transparent;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.section__padding {
    padding: 1rem 5rem;
    max-width: 1500px;
    margin: auto;
}

.section__margin {
    margin: 4rem 6rem;
}

/*Text Styles*/

.gradient__text-dark {
    background: var(--gradient-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__text-light {
    background: var(--gradient-light);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Container Styles*/

.shadow {
    box-shadow: rgba(98, 218, 252, 0.30) 10px 10px 20px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

