@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    /*Fonts*/
    --font-family-title: 'Nunito', sans-serif;
    --font-family-text: 'Ubuntu', sans-serif;

    /*Background variation*/
    --color-bg-dark1: rgba(48,48,48,1);
    --color-bg-dark2: rgba(73,73,75,0.25);
    --color-bg-dark3: rgba(118,119,120,0.25);
    --color-bg-light1: #d3f5fe;
    --color-bg-light2: #d3f9fe;
    --color-bg-light3: #d3f1fe;

    /*Text variation*/
    --color-text-dark: #1a1a1a;
    --color-text-light: #e0f8fe;

    /*Gradients*/
    --gradient-light: linear-gradient(0deg, rgba(211,245,254,1) 0%, rgba(251,254,255,1) 100%);;
    --gradient-dark: linear-gradient(0deg, rgba(26,26,26,1) 0%, rgba(232,232,232,1) 100%);
}