.vitelo__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-text-light);
}

.vitelo__header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: var(--color-bg-dark2);
    border-radius: 25px;
    padding: 3rem;
}

.vitelo__header-container_profileImg {
    width:35%;
    margin-right: 2rem;
}

.vitelo__header-container_profileImg img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 50%;
}

.vitelo__header-container_text {
    width: 75%;    
}

.vitelo__header-container_text h1 {
    font-family: var(--font-family-title);
    font-size: 4rem;
    font-weight: 800;
}

.vitelo__header-container_text p {
    font-family: var(--font-family-text);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1rem;
}